<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demoit.dao.OrderFilmMapper">
  <resultMap id="BaseResultMap" type="com.demoit.entity.OrderFilm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_play_time" jdbcType="TIMESTAMP" property="moviePlayTime" />
    <result column="movie_time" jdbcType="INTEGER" property="movieTime" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="get_ticket_num" jdbcType="VARCHAR" property="getTicketNum" />
    <result column="seat_name" jdbcType="VARCHAR" property="seatName" />
    <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime" />
    <result column="ticket_time" jdbcType="TIMESTAMP" property="ticketTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoit.entity.OrderFilm">
    insert into order_film (id, order_id, cinema_name, 
      cinema_address, movie_name, movie_play_time, 
      movie_time, hall_type, hall_name, 
      get_ticket_num, seat_name, pay_end_time, 
      ticket_time, add_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{cinemaName,jdbcType=VARCHAR}, 
      #{cinemaAddress,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{moviePlayTime,jdbcType=TIMESTAMP}, 
      #{movieTime,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}, #{hallName,jdbcType=VARCHAR}, 
      #{getTicketNum,jdbcType=VARCHAR}, #{seatName,jdbcType=VARCHAR}, #{payEndTime,jdbcType=TIMESTAMP}, 
      #{ticketTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demoit.entity.OrderFilm">
    update order_film
    set order_id = #{orderId,jdbcType=BIGINT},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_play_time = #{moviePlayTime,jdbcType=TIMESTAMP},
      movie_time = #{movieTime,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR},
      hall_name = #{hallName,jdbcType=VARCHAR},
      get_ticket_num = #{getTicketNum,jdbcType=VARCHAR},
      seat_name = #{seatName,jdbcType=VARCHAR},
      pay_end_time = #{payEndTime,jdbcType=TIMESTAMP},
      ticket_time = #{ticketTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
  </select>
  <resultMap id="BaseResultMap" type="com.demoit.entity.OrderFilm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_play_time" jdbcType="TIMESTAMP" property="moviePlayTime" />
    <result column="movie_time" jdbcType="INTEGER" property="movieTime" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="get_ticket_num" jdbcType="VARCHAR" property="getTicketNum" />
    <result column="seat_name" jdbcType="VARCHAR" property="seatName" />
    <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime" />
    <result column="ticket_time" jdbcType="TIMESTAMP" property="ticketTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoit.entity.OrderFilm">
    insert into order_film (id, order_id, cinema_name, 
      cinema_address, movie_name, movie_play_time, 
      movie_time, hall_type, hall_name, 
      get_ticket_num, seat_name, pay_end_time, 
      ticket_time, add_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{cinemaName,jdbcType=VARCHAR}, 
      #{cinemaAddress,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{moviePlayTime,jdbcType=TIMESTAMP}, 
      #{movieTime,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}, #{hallName,jdbcType=VARCHAR}, 
      #{getTicketNum,jdbcType=VARCHAR}, #{seatName,jdbcType=VARCHAR}, #{payEndTime,jdbcType=TIMESTAMP}, 
      #{ticketTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demoit.entity.OrderFilm">
    update order_film
    set order_id = #{orderId,jdbcType=BIGINT},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_play_time = #{moviePlayTime,jdbcType=TIMESTAMP},
      movie_time = #{movieTime,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR},
      hall_name = #{hallName,jdbcType=VARCHAR},
      get_ticket_num = #{getTicketNum,jdbcType=VARCHAR},
      seat_name = #{seatName,jdbcType=VARCHAR},
      pay_end_time = #{payEndTime,jdbcType=TIMESTAMP},
      ticket_time = #{ticketTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
  </select>
  <resultMap id="BaseResultMap" type="com.demoit.entity.OrderFilm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_play_time" jdbcType="TIMESTAMP" property="moviePlayTime" />
    <result column="movie_time" jdbcType="INTEGER" property="movieTime" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="get_ticket_num" jdbcType="VARCHAR" property="getTicketNum" />
    <result column="seat_name" jdbcType="VARCHAR" property="seatName" />
    <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime" />
    <result column="ticket_time" jdbcType="TIMESTAMP" property="ticketTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoit.entity.OrderFilm">
    insert into order_film (id, order_id, cinema_name, 
      cinema_address, movie_name, movie_play_time, 
      movie_time, hall_type, hall_name, 
      get_ticket_num, seat_name, pay_end_time, 
      ticket_time, add_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{cinemaName,jdbcType=VARCHAR}, 
      #{cinemaAddress,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{moviePlayTime,jdbcType=TIMESTAMP}, 
      #{movieTime,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}, #{hallName,jdbcType=VARCHAR}, 
      #{getTicketNum,jdbcType=VARCHAR}, #{seatName,jdbcType=VARCHAR}, #{payEndTime,jdbcType=TIMESTAMP}, 
      #{ticketTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demoit.entity.OrderFilm">
    update order_film
    set order_id = #{orderId,jdbcType=BIGINT},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_play_time = #{moviePlayTime,jdbcType=TIMESTAMP},
      movie_time = #{movieTime,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR},
      hall_name = #{hallName,jdbcType=VARCHAR},
      get_ticket_num = #{getTicketNum,jdbcType=VARCHAR},
      seat_name = #{seatName,jdbcType=VARCHAR},
      pay_end_time = #{payEndTime,jdbcType=TIMESTAMP},
      ticket_time = #{ticketTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
  </select>
  <resultMap id="BaseResultMap" type="com.demoit.entity.OrderFilm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_play_time" jdbcType="TIMESTAMP" property="moviePlayTime" />
    <result column="movie_time" jdbcType="INTEGER" property="movieTime" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="get_ticket_num" jdbcType="VARCHAR" property="getTicketNum" />
    <result column="seat_name" jdbcType="VARCHAR" property="seatName" />
    <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime" />
    <result column="ticket_time" jdbcType="TIMESTAMP" property="ticketTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoit.entity.OrderFilm">
    insert into order_film (id, order_id, cinema_name, 
      cinema_address, movie_name, movie_play_time, 
      movie_time, hall_type, hall_name, 
      get_ticket_num, seat_name, pay_end_time, 
      ticket_time, add_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{cinemaName,jdbcType=VARCHAR}, 
      #{cinemaAddress,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{moviePlayTime,jdbcType=TIMESTAMP}, 
      #{movieTime,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}, #{hallName,jdbcType=VARCHAR}, 
      #{getTicketNum,jdbcType=VARCHAR}, #{seatName,jdbcType=VARCHAR}, #{payEndTime,jdbcType=TIMESTAMP}, 
      #{ticketTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demoit.entity.OrderFilm">
    update order_film
    set order_id = #{orderId,jdbcType=BIGINT},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_play_time = #{moviePlayTime,jdbcType=TIMESTAMP},
      movie_time = #{movieTime,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR},
      hall_name = #{hallName,jdbcType=VARCHAR},
      get_ticket_num = #{getTicketNum,jdbcType=VARCHAR},
      seat_name = #{seatName,jdbcType=VARCHAR},
      pay_end_time = #{payEndTime,jdbcType=TIMESTAMP},
      ticket_time = #{ticketTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
  </select>
  <resultMap id="BaseResultMap" type="com.demoit.entity.OrderFilm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_address" jdbcType="VARCHAR" property="cinemaAddress" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_play_time" jdbcType="TIMESTAMP" property="moviePlayTime" />
    <result column="movie_time" jdbcType="INTEGER" property="movieTime" />
    <result column="hall_type" jdbcType="VARCHAR" property="hallType" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="get_ticket_num" jdbcType="VARCHAR" property="getTicketNum" />
    <result column="seat_name" jdbcType="VARCHAR" property="seatName" />
    <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime" />
    <result column="ticket_time" jdbcType="TIMESTAMP" property="ticketTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoit.entity.OrderFilm">
    insert into order_film (id, order_id, cinema_name, 
      cinema_address, movie_name, movie_play_time, 
      movie_time, hall_type, hall_name, 
      get_ticket_num, seat_name, pay_end_time, 
      ticket_time, add_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{cinemaName,jdbcType=VARCHAR}, 
      #{cinemaAddress,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{moviePlayTime,jdbcType=TIMESTAMP}, 
      #{movieTime,jdbcType=INTEGER}, #{hallType,jdbcType=VARCHAR}, #{hallName,jdbcType=VARCHAR}, 
      #{getTicketNum,jdbcType=VARCHAR}, #{seatName,jdbcType=VARCHAR}, #{payEndTime,jdbcType=TIMESTAMP}, 
      #{ticketTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demoit.entity.OrderFilm">
    update order_film
    set order_id = #{orderId,jdbcType=BIGINT},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_address = #{cinemaAddress,jdbcType=VARCHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_play_time = #{moviePlayTime,jdbcType=TIMESTAMP},
      movie_time = #{movieTime,jdbcType=INTEGER},
      hall_type = #{hallType,jdbcType=VARCHAR},
      hall_name = #{hallName,jdbcType=VARCHAR},
      get_ticket_num = #{getTicketNum,jdbcType=VARCHAR},
      seat_name = #{seatName,jdbcType=VARCHAR},
      pay_end_time = #{payEndTime,jdbcType=TIMESTAMP},
      ticket_time = #{ticketTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, cinema_name, cinema_address, movie_name, movie_play_time, movie_time, 
    hall_type, hall_name, get_ticket_num, seat_name, pay_end_time, ticket_time, add_time, 
    update_time, del_flag
    from order_film
  </select>
</mapper>